[submodule "pda/PRODUCTION_pda"]
	path = pda/PRODUCTION_pda
	url = git@github.com:webdev-archist/PRODUCTION_pda.git
[submodule "moi/WEBDEV_Portfolio_react"]
	path = moi/WEBDEV_Portfolio_react
	url = git@github.com:webdev-archist/WEBDEV_Portfolio_react.git
[submodule "pda/PRODUCTION_pda_react"]
	path = pda/PRODUCTION_pda_react
	url = git@github.com:webdev-archist/PRODUCTION_pda_react.git
[submodule "Aix___StFancoisStJean"]
	path = Aix___StFancoisStJean
	url = git@github.com:webdev-archist/PROD-ST-FR_ST-JEAN.git
[submodule "stephaneManlan"]
	path = stephaneManlan
	url = https://github.com/webdev-archist/PRODUCTION___stephane
